.prev-arrow,
.next-arrow {
	z-index: 10;
	cursor: pointer;
	position: absolute;
	bottom: -13px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	&::after,
	&::before,
	& span {
		position: absolute;
		content: '';
		height: 5px;
		border-radius: 2px;
		background-color: $colorMain;
	}
	&.swiper-button-disabled {
		cursor: auto;
		pointer-events: none;
		&::after,
		&::before,
		& span {
			background-color: $colorTextLight;
		}
	}
}

.prev-arrow {
	left: calc(50% - 100px);
	&::before {
		top: 20px;
		left: 0;
		width: 24px;
		transform: rotate(-45deg);
	}
	&::after {
		bottom: 20px;
		left: 0;
		width: 24px;
		transform: rotate(45deg);
	}
	& span {
		left: 3px;
		width: 36px;
	}
}
.next-arrow {
	right: calc(50% - 100px);
	&::before {
		top: 20px;
		right: 0;
		width: 24px;
		transform: rotate(45deg);
	}
	&::after {
		bottom: 20px;
		right: 0;
		width: 24px;
		transform: rotate(-45deg);
	}
	& span {
		right: 3px;
		width: 36px;
	}
}
