.banner {
	position: relative;
	&__img-wrapper {
		@include adaptiv-value('height', 600, 600, 202, $md1, $minWidth, px);
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__offer-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		width: 50%;
		@media (max-width: $md1+px) {
			width: 55%;
		}
		@media (max-width: $md4+px) {
			position: static;
			width: 100%;
		}
	}

	&__offer {
		z-index: 1;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 30px 30px 30px 0;
		padding: 58px 61px 60px 102px;
		background-color: #ffffff81;
		border-radius: 15px;
		@media (max-width: $md2+px) {
			padding: 17px 30px 31px 30px;
			align-items: flex-start;
		}
		@media (max-width: $md3+px) {
			padding: 22px;
		}
		@media (max-width: $md4 + px) {
			position: static;
			width: 100%;
			margin: 0 0 30px 0;
			padding: 28px 41px 0 41px;
		}
	}

	&__title {
		position: relative;
		font-size: 1.66em;
		@media (max-width: $md3+px) {
			font-size: 1.13em;
		}
		&::before {
			content: '';
			position: absolute;
			left: -27px;
			width: 2px;
			height: 100%;
			background-color: $colorText;
			@media (max-width: $md2+px) {
				display: none;
			}
		}
	}

	&__list {
		display: flex;
		max-width: 411px;
		margin: 35px 0 54px 0;
		@media (max-width: $md2+px) {
			margin: 12px 0 24px 0;
		}
		@media (max-width: $md3+px) {
			margin: 8px 0 16px 0;
		}
		& li {
			max-width: 145px;
			margin-bottom: 8px;
			padding-right: 41px;
			&:last-child {
				padding-right: 0;
			}
			&::before {
				@media (max-width: $md2+px) {
					content: url('/img/checked.png');
					margin-right: 14px;
				}
			}
			@media (max-width: $md2+px) {
				max-width: 100%;
			}
		}
		@media (max-width: $md2+px) {
			display: block;
		}
	}

	&__submit {
		align-self: center;
		color: $colorLight;
		background-color: $colorMain;
		@media (max-width: $md3+px) {
			width: 100%;
		}
		@media (max-width: $md4+px) {
			padding: 9px 22px;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		}
		&:active,
		&:hover {
			background-color: $colorMainHover;
		}
	}
}
