.contacts {
	width: 100%;
	padding-bottom: 40px;
	&__container {
		display: grid;
		grid-template-columns: 40% 60%;
	}

	&__title {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	&__info {
		display: flex;
		flex-direction: column;
		font-size: 1em;
		font-weight: 500;
		line-height: calc(32 / 18);
		text-align: left;
		@media (max-width: $md2+px) {
			grid-column-start: 1;
			grid-column-end: 3;
			order: 3;
		}
	}

	&__tel {
		font-size: 24/18 + em;
		line-height: calc(32 / 24);
		text-align: left;
		color: $colorText;
		margin-top: 29px;
	}

	&__mail {
		color: $colorMain;
		margin-top: 32px;
	}

	&__adress {
		margin-top: 8px;
	}

	&__subway {
		margin-top: 16px;
	}

	&__map {
		height: 514px;
		@media (max-width: $md2+px) {
			grid-column-start: 1;
			grid-column-end: 3;
			height: 350px;
		}
	}
}
