.our-doctors {
	width: 100%;
	background-color: #dfeffc;
	padding-bottom: 40px;
	&__container {
	}

	&__body {
		display: grid;
		position: relative;
		grid-template-columns: 1fr 2fr 1fr;
		padding-top: 30px;
		@media (max-width: $md1+px) {
			grid-template-columns: 1fr;
		}
	}

	&__title {
	}

	&__slider {
		overflow: hidden;
		width: 100%;
	}

	&__m-slider {
		overflow: hidden;
		width: 100%;
	}

	&__slide {
	}
	& .swiper-container {
		position: static;
	}

	& .swiper-navigation-container {
		left: 0;
		height: auto;
	}
	& .swiper-pagination-fraction {
		position: absolute;
		top: -15px;
		height: 30px;
	}
}
.od-slide {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85px auto auto;

	&[class$='-active'] > * {
		transition: opacity 1s ease;
	}
	&:not([class$='-active']) {
		& > * {
			opacity: 0;
		}
	}
	&__img {
		grid-row-start: 1;
		grid-row-end: 4;
		height: 400px;
		padding-right: 10px;
		& img {
			height: 100%;
			width: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	&__name {
		font-size: 24/18 + em;
		font-weight: 700;
		line-height: calc(24 / 24);
		text-align: left;
		color: $colorMain;
		align-self: center;
	}

	&__speciality {
		font-weight: 500;
		line-height: calc(24 / 18);
		text-align: left;
	}

	&__text {
		overflow: hidden;
		font-size: 14/18 + em;
		font-weight: 500;
		line-height: calc(21 / 14);
		text-align: left;
	}
	& a {
		align-self: end;
	}
}

.m-od-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 400px;
	padding: 0 10px;
	@media (max-width: $md1+px) {
		display: none;
	}
	&[class$='-active'] > * {
		transition: opacity 1s ease;
	}
	&:not([class$='-active']) {
		& > * {
			opacity: 0;
		}
	}
	&__img {
		height: 250px;
		& img {
			height: 100%;
		}
	}
	&__name {
		font-size: 14/18 + em;
		font-weight: 500;
		line-height: calc(18 / 14);
		text-align: center;
		padding: 15px 0 7px 0;
	}

	&__speciality {
		font-size: 12/18 + em;
		font-weight: 500;
		line-height: calc(14 / 12);
		text-align: center;
	}
}
