.our-doctors {
	width: 100%;
	background-color: #dfeffc;
	padding-bottom: 40px;
	&__container {
	}

	&__title {
	}

	&__body {
		display: flex;
	}

	&__minidoctor {
		width: 20%;
	}

	&__slider {
		max-width: 60%;
		overflow: hidden;
	}

	&__slide {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
.minidoctor {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	&__img {
	}

	&__name {
		font-size: 14/18 + em;
		font-weight: 500;
		line-height: calc(18 / 14);
		text-align: center;
		padding: 12px 80px;
	}

	&__speciality {
		font-size: 12/18 + em;
		font-weight: 500;
		line-height: calc(14 / 12);
		text-align: center;
	}
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}
.od-slide {
	&__img {
		grid-row-start: 1;
		grid-row-end: 4;
	}

	&__name {
		font-size: 24/18 + em;
		font-weight: 700;
		line-height: calc(24 / 24);
		text-align: left;
		color: $colorMain;
	}

	&__speciality {
		font-weight: 500;
		line-height: calc(24 / 18);
		text-align: left;
		margin-top: 3px;
		margin-bottom: 17px;
	}

	&__text {
		font-size: 14/18 + em;
		font-weight: 500;
		line-height: calc(21 / 14);
		text-align: left;
	}
}
