.photogallery {
	width: 100%;
	padding-bottom: 40px;
	background-color: $colorSecond;
	&__container {
	}

	&__title {
	}

	&__slider {
		overflow: hidden;
		height: 400px;
		padding-bottom: 40px;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
	}

	&__item {
		flex-grow: 1;
		display: flex;
		align-items: center;
		&--big {
		}
		& img {
			width: 100%;
		}
	}
	.swiper-wrapper {
		display: flex;
		align-items: stretch;
	}
	.swiper-slide {
	}
	.swiper-pagination {
		bottom: 0;
	}
}
