.reviews {
	width: 100%;
	padding-bottom: 40px;
	&__container {
	}

	&__title {
		position: relative;
	}

	&__slider {
	}
	.swiper-container {
	}
	.swiper-navigation-container {
	}
	.prev-round,
	.next-round {
	}
	.swiper-pagination {
	}
}
.review {
	font-size: 14/18 + em;
	font-weight: 400;
	line-height: calc(22 / 18);
	text-align: left;
	display: grid;
	grid-template-rows: 50px 50px auto 50px;
	align-self: stretch;
	padding: 27px 34px 27px 24px;
	box-shadow: 0px 4px 40px 0px #{$colorMain + '26'};

	&__title {
		font-weight: 600;
		line-height: calc(36 / 18);
		text-align: left;
		padding-bottom: 5px;
	}

	&__name {
		padding-bottom: 15.5px;
	}

	&__text {
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom: 2px solid $colorTextLight;
	}

	&__date {
		padding-top: 15px;
	}
}
