.trust-us {
	padding-bottom: 40px;
	&__container {
	}

	&__title {
	}

	&__subtitle {
		text-align: center;
		font-size: 22/18 + em;
		font-weight: 500;
		margin-bottom: 48px;
	}

	&__body {
		position: relative;
		display: grid;
		grid-template-columns: 2fr 3fr;
		& p {
			margin-bottom: 15px;
			transition: all 1s ease;
			transform: translateX(50vw);
			visibility: hidden;
			opacity: 0;
			&._active {
				transform: translateX(0);
				visibility: visible;
				opacity: 1;
			}
		}
		@media (max-width: $md4+px) {
			grid-template-columns: 1fr;
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		& img {
			max-width: 100%;
		}
	}

	&__text {
		align-self: center;
		font-style: italic;
		@media (min-width: $md4+px) {
			padding-left: 10px;
		}
		@media (max-width: $md4+px) {
			padding-top: 20px;
		}
	}

	&__signature {
		display: flex;
		flex-direction: column;
		font-size: 15/18 + em;
		font-weight: 500;
	}
}
