$colorMain: #127bd7;
$colorSecond: #bfdefa;
$colorLight: #ffffff;
$colorMainHover: #2879bd;
$colorLinkHover: #2879bd;
$colorBright: #f8c50a;
$colorAlert: #ff3451;
$colorText: #292929;
$colorTextGray: #515151;
$colorTextLight: #a8a8a8;

body {
	color: $colorText;
	@include adaptiv-value('font-size', 18, 18, 14, $md1, $md2, px);
	line-height: 1.4;
	font-weight: 600;
	letter-spacing: 0em;
	font-style: normal;
}

._button {
	font-size: 1.11em;
	padding: 20px 51px;
	border-radius: 8px;
	cursor: pointer;
}

._underline {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: calc(100% + 15px);
		height: 1px;
		background-color: $colorText;
		transition: width 0.3s ease-out;
		@include common-value('bottom', -1);
	}
}

._bold {
	font-weight: 700;
}

._icon-text {
	display: flex;
	align-items: center;
	& img {
		width: 100%;
	}
}

._margin-right {
	@include adaptiv-value('margin-right', 16, 8, 4, $md1, $minWidth, px);
}
