.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__top-wrapper {
		border-bottom: 1px solid #127bd733;
	}

	&__top-content {
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__logo-wraper {
		@media (max-width: $md3+px) {
			order: 1;
		}
	}

	&__logo {
		margin: 18px 0 5px 0;
	}

	&__company-name {
		font-family: 'FiraSans';
		font-size: 2em;
		font-weight: 700;
		line-height: 43px;
		color: #127bd7;
		margin-left: 29px;
		@include adaptiv-value('margin-left', 20, 0, $md1, $minWidth);
	}

	&__right-container {
	}

	&__location-wraper {
		margin-right: 52px;
		@include adaptiv-value('margin-right', 26, 8, $md1, $minWidth);
	}

	&__location {
		font-size: 0.89em;
		line-height: 24px;
		margin-left: 16px;
	}

	&__tel-wraper {
	}

	&__tel {
		font-family: 'Roboto';
		font-size: 1.11em;
		font-weight: 700;
		line-height: 24px;
		margin-left: 16px;
	}

	&__menu-wraper {
	}

	&__menu {
		display: flex;
		justify-content: center;
		margin: 24px 0;
		& li {
			padding-right: 46px;
			@include adaptiv-value('padding-right', 30, 5, $md1, $minWidth);
		}
	}
}
