//Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$file_name}.woff') format('woff'),
			url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $startWidth, $endWidth) {
	$addSize: $startSize - $minSize;
	@media (max-width: #{$startWidth + px}) {
		#{$property}: calc(
			#{$minSize + px} + #{$addSize} *
				((100vw - #{$endWidth + px}) / #{$startWidth - $endWidth})
		);
	}
	@media (max-width: #{$endWidth + px}) {
		#{$property}: $minSize + px;
	}
}
