@import 'mixins';
@import 'fonts';

$fontFamily: 'Montserrat';
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1220;
$md1: $maxWidthContainer + 40;
$md2: 1023;
$md3: 767;
$md4: 539;
$colorMain: #127bd7;
$colorMainHover: #2879bd;
$colorSecond: #bfdefa;
$colorBright: #f8c50a;
$colorText: #000000;
$colorLight: #ffffff;

@import 'null';

body {
	color: $colorText;
	font-size: 18px;
	@include adaptiv-value('font-size', 18, 14, $md1, $md2);
	font-weight: 600;
	letter-spacing: 0em;
	font-style: normal;
	&._lock {
		overflow: hidden;
	}
}

input[type='submit'] {
	font-family: 'Montserrat';
	font-size: 1.14em;
	line-height: 24px;
	padding: 9px;
	border-radius: 8px;
	cursor: pointer;
}

._button-first {
	color: $colorLight;
	background-color: $colorMain;
	// &:hover,
	&:active {
		background-color: $colorMainHover;
	}
}

._container {
	max-width: $maxWidthContainer + px;
	width: 100%;
	margin: 0 auto;

	@media (max-width: $md1+px) {
		max-width: $md2 - 40 + px;
	}
	@media (max-width: $md2+px) {
		max-width: $md3 - 40 + px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

._absolute-top {
	position: absolute;
	top: 166px;
	@include adaptiv-value('top', 144, 129, $md1, $md3);
	@media (max-width: $md3+px) {
		top: 47px;
	}
}

._icon-span {
	display: flex;
	align-items: center;
	& > span {
		margin-left: 16px;
		@include adaptiv-value('margin-left', 8, 4, $md1, $minWidth);
	}
	& img {
		width: 100%;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	&._loaded {
	}
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex: 1 1 auto;
}

.content {
	&__block {
		padding: 20px 0;
		& p {
			padding: 5px 0;
		}
	}
}

@import 'header';
@import 'banner';
